# Machine Learning
---
## Supervised Learning(지도학습) 
- 예측하는 모델, 예측대상(y, target, Label)


    1. Linear Algorithm(회귀분석) - 예측대상이 연속값(continuous)
    2. Classification Model(분류분석) - 예측대상이 불연속값(discrete)

## Unsupervised Learning(비지도학습) - 예측하지 않음
1. clustering(군집분석) = 유사한 특성을 갖는 데이터끼리 묶는다

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
# matplotlib 한글화

import matplotlib as mpl
import matplotlib.font_manager as fm

mpl.rcParams['axes.unicode_minus'] = False

path = 'C:/Windows/Fonts/malgun.ttf'
font_name = fm.FontProperties(fname=path, size=50).get_name()
plt.rc('font', family=font_name)

In [43]:
df = pd.read_csv('./ml_source_files/Ecommerce Customers.txt')
df.head(3)

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [ ]:
# LinearRegression : 데이터에 NaN값이 없어야 하고, numeric해야 한다.

In [6]:
# 연간 지출금액을 예측하는 회귀모델

In [ ]:
# y : 예측대상(target)

In [44]:
y = df['Yearly Amount Spent']

In [ ]:
# Avatar을 포함시키면 에러가 난다.

In [45]:
x = df.drop(['Email', 'Address', 'Yearly Amount Spent', 'Avatar'], axis=1)

In [ ]:
# train, test로 분리
# train - 학습용 데이터
# test - 모델을 평가 시 사용할 데이터 (모델을 테스트할 때는 모델을 훈련할 때 이용한 데이터가 포함되면 안됨)

In [ ]:
# # 400개를 train, 100개를 test
# # 할 필요가 없다 (sklearn에서 자동으로 해줌)
# # test_size=0.2와 같다
# x_train = x[:400]
# x_test = x[100:]

# y_train = y[:400]
# y_text = y[100:]

In [46]:
# test_size = 0.2 : 20%를 test로 사용하고 나머지를 train으로 사용해라
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)   # shuffle

In [33]:
# LinearRegression Algorithm을 import

In [47]:
lr = LinearRegression()

In [ ]:
# Algorithm (= machine model) train => fit()

In [48]:
lr.fit(x_train, y_train)

LinearRegression()

In [49]:
preds = lr.predict(x_test)

In [50]:
preds

array([597.82676841, 543.47289894, 589.02090005, 549.40971707,
       516.9350165 , 487.38224881, 461.40368497, 456.26390895,
       384.4584725 , 529.27025   , 480.4374854 , 464.10365435,
       541.92215232, 457.35306565, 461.0738161 , 556.71673885,
       394.3189988 , 511.37375987, 476.6877514 , 411.87832288,
       507.58420379, 483.10666435, 684.27282392, 507.73166376,
       576.98087491, 528.41532313, 512.44833099, 552.86769329,
       553.03711251, 597.45073387, 338.1704745 , 473.65678815,
       377.53531267, 627.19624041, 460.65681329, 434.57211558,
       593.18766011, 641.35771381, 479.71025229, 487.75866958,
       606.20402302, 557.73385317, 571.74897309, 651.02880832,
       423.77005216, 662.25778949, 500.52811888, 508.32143394,
       412.84111542, 375.62428018, 424.51873034, 491.36254726,
       572.96640452, 438.12663309, 578.3993827 , 563.09521826,
       505.24954645, 287.88559096, 435.63582899, 435.91871415,
       534.93786039, 590.36132309, 539.94279186, 489.4846494 ,
       501.92262474, 670.72424602, 493.77932116, 534.53410576,
       751.27590585, 724.59178824, 468.98997499, 482.12457202,
       314.64568199, 468.79820632, 558.43079611, 548.6094016 ,
       581.07789071, 347.70787237, 485.71123701, 616.15503999,
       423.63542002, 525.7755821 , 400.46600845, 306.04889374,
       576.4066582 , 486.74374255, 511.82144994, 468.68730285,
       527.21400892, 514.65738321, 692.49228779, 482.57295424,
       401.65580811, 558.83609546, 577.61179379, 471.38363734,
       477.90468047, 513.55702495, 572.38314443, 548.26172971])

In [ ]:
# model evaluation
# 회기모델에서 평가하는 지표 : r2_score

In [51]:
r2_score(preds, y_test)     # 회귀모델의 설명력 : ssr/sst (값이 높을 수록 오차가 적고 예측성공률이 높다)

0.9853436753427146