# Machine Learning
---
## Supervised Learning(지도학습) 
- 예측하는 모델, 예측대상(y, target, Label)


    1. Linear Algorithm(회귀분석) - 예측대상이 연속값(continuous)
    2. Classification Model(분류분석) - 예측대상이 불연속값(discrete) - binary, multi

## Unsupervised Learning(비지도학습) - 예측하지 않음
1. clustering(군집분석) = 유사한 특성을 갖는 데이터끼리 묶는다

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
# matplotlib 한글화

import matplotlib as mpl
import matplotlib.font_manager as fm

mpl.rcParams['axes.unicode_minus'] = False

path = 'C:/Windows/Fonts/malgun.ttf'
font_name = fm.FontProperties(fname=path, size=50).get_name()
plt.rc('font', family=font_name)

In [43]:
df = pd.read_csv('./ml_source_files/Ecommerce Customers.txt')
df.head(3)

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [ ]:
# LinearRegression : 데이터에 NaN값이 없어야 하고, numeric해야 한다.

In [6]:
# 연간 지출금액을 예측하는 회귀모델

In [ ]:
# y : 예측대상(target)

In [44]:
y = df['Yearly Amount Spent']

In [ ]:
# Avatar을 포함시키면 에러가 난다.

In [45]:
x = df.drop(['Email', 'Address', 'Yearly Amount Spent', 'Avatar'], axis=1)

In [ ]:
# train, test로 분리
# train - 학습용 데이터
# test - 모델을 평가 시 사용할 데이터 (모델을 테스트할 때는 모델을 훈련할 때 이용한 데이터가 포함되면 안됨)

In [ ]:
# # 400개를 train, 100개를 test
# # 할 필요가 없다 (sklearn에서 자동으로 해줌)
# # test_size=0.2와 같다
# x_train = x[:400]
# x_test = x[100:]

# y_train = y[:400]
# y_text = y[100:]

In [55]:
# test_size = 0.2 : 20%를 test로 사용하고 나머지를 train으로 사용해라
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)   # shuffle

In [33]:
# LinearRegression Algorithm을 import

In [56]:
lr = LinearRegression()

In [ ]:
# Algorithm (= machine model) train => fit()

In [57]:
lr.fit(x_train, y_train)

LinearRegression()

In [58]:
preds = lr.predict(x_test)

In [59]:
preds

array([573.71716371, 437.64674251, 492.65091662, 471.3910488 ,
       313.13276382, 511.83877903, 547.91277758, 456.79642566,
       283.31345076, 558.54745203, 519.34236666, 421.02850213,
       549.15162919, 479.00742811, 441.91518797, 417.69263425,
       574.0679401 , 546.94543783, 340.32593417, 507.20892151,
       488.60750813, 616.3658891 , 501.88128451, 542.98621547,
       337.29617661, 582.40516085, 529.78922752, 460.64751821,
       676.52297576, 457.00718263, 519.16065119, 589.08128784,
       538.04212379, 522.66832359, 514.93534546, 430.40102093,
       514.11755477, 553.92884045, 462.52829596, 471.80792601,
       489.43958949, 494.82530152, 601.31143576, 553.36257342,
       648.39265294, 529.62772473, 389.81066733, 398.25856917,
       552.58626625, 543.01854899, 547.98376287, 483.10787312,
       587.97487757, 569.75085004, 411.71527808, 480.91850751,
       527.09195423, 404.0736099 , 314.68774748, 482.45512016,
       395.35121754, 540.28783322, 582.29488392, 568.98591505,
       389.97345035, 372.14358013, 525.62100835, 571.47289486,
       545.88453732, 555.82656716, 523.65844903, 481.13217603,
       395.0325002 , 534.88835262, 409.8024386 , 463.89061784,
       342.18822841, 575.33404695, 498.04484964, 428.48301667,
       622.42284354, 283.88619744, 506.36043077, 280.47848705,
       561.10440677, 472.67071178, 548.23224609, 523.21797125,
       507.74943366, 532.54047068, 465.1866908 , 503.60677679,
       615.46266949, 424.00243783, 567.25639788, 535.71257435,
       500.7905037 , 542.83105839, 456.38457456, 598.49305124])

In [ ]:
# model evaluation
# 회기모델에서 평가하는 지표 : r2_score

In [60]:
r2_score(preds, y_test)     # 회귀모델의 설명력 : ssr/sst (값이 높을 수록 오차가 적고 예측성공률이 높다)

0.9849039522179619

In [61]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
print('MSE :', mean_squared_error(y_test, preds))
print('RMSE :', np.sqrt(mean_squared_error(y_test, preds)))
print('MAE :', mean_absolute_error(y_test, preds))

MSE : 100.55914803755967
RMSE : 10.027918429941463
MAE : 8.200445303341425