In [1]:
import numpy as np
import pandas as pd

In [4]:
ecom = pd.read_csv('./pandas_datafiles/Ecommerce Purchases')
ecom.head(2)      # head : 상위 몇 개만 추출 (default : 5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [5]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [6]:
# 고객들의 평균 구매 금액
round(ecom['Purchase Price'].mean(),2)

50.35

In [7]:
# 최고구매금액과 최소구매금액
print(ecom['Purchase Price'].max(), ecom['Purchase Price'].min(), sep = '\t')

99.99	0.0

In [8]:
# 영어권 사용자의 구매금액의 평균
round(ecom.loc[ecom['Language'] == 'en']['Purchase Price'].mean(), 2)

51.1

In [9]:
# 'Job'이 'Lawyer'인 사람의 숫자
# len(ecom.loc[ecom['Job'] == 'Lawyer'])
sum(ecom['Job'] == 'Lawyer')          # True == 1로 계산해서 sum을 한다
# len(ecom[ecom['Job'] == 'Lawyer'])

30

In [115]:
# Lot이 '90 WT'인 곳에서 구매한 사람의 구매금액
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [10]:
# 카드회사가 'American Express'이고, 구매금액이 $95 이상인 고객의 수
len(ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] >= 95)])
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] >= 95)].shape[0]
# ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] >= 95)].count()

# len : len(df), len(df.index) : 행 개수 세기
# count : df.count()     : Null값이 아닌 행 개수 세기

39

In [11]:
# card 만료일이 2025년도인 카드를 소지한 구매자의 수
sum(ecom['CC Exp Date'].apply(lambda x : x[-2:]) == '25')  # True == 1로 계산해서 sum을 한다
# ecom[ecom['CC Exp Date'].apply(lambda x : x[-2:]) == '25'].shape[0]
# len(ecom[ecom['CC Exp Date'].apply(lambda x : x[-2:]) == '25'])

1033

In [12]:
ecom[ecom['CC Exp Date'].apply(lambda x : x[-2:]) == '25'].shape[0]

1033

In [16]:
print(len(ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] >= 95)]))
print(ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] >= 95)].shape[0])
print(ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] >= 95)].count())

39
39
Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64