In [1]:
import numpy as np
import pandas as pd

In [11]:
# Salaries1.csv 파일을 dataframe로 읽기

df = pd.read_csv('./pandas_datafiles/Salaries1.csv', index_col = 0)
df.head(3)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN

In [61]:
# BasePay의 평균
# df.BasePay.mean()
df['BasePay'].mean()

75601.13714620461

In [62]:
# OverTimepay의 최대값
# df.OvertimePay.max()
df['OvertimePay'].max()

245131.88

In [ ]:
# df['OvertimePay'].apply(max)    # element wise operation (요소 하나하나 매칭이 되기 때문에 max함수는 에러가 발생한다)

In [70]:
df.apply(max)['OvertimePay']

245131.88

In [18]:
# 'JOSEPH DRISCOLL'의 JOB TITLE는?
df[df['EmployeeName'] == 'JOSEPH DRISCOLL'].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [74]:
# TotalPayBenefit의 최고금액을 수령하는 사람

df.sort_values('TotalPayBenefits', ascending=False).iloc[0]['EmployeeName']

'NATHANIEL FORD'

In [78]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [79]:
# BasePay의 연도별 평균 금액
df.groupby('Year')['BasePay'].mean()

Year
2011     63595.956517
2012    106964.140280
Name: BasePay, dtype: float64

In [82]:
# JobTitle에서 가장 많은 Job 상위 5개
# df['JobTitle'].value_counts().iloc[:5]
df['JobTitle'].value_counts().head(5)

TRANSIT OPERATOR    2388
SPECIAL NURSE       1402
REGISTERED NURSE    1219
Registered Nurse    1003
CUSTODIAN            796
Name: JobTitle, dtype: int64

In [120]:
# 2011년도에 오직 한 사람만이 수행하는 job 개수

# sum(df.groupby(df[df['Year'] == 2011]['JobTitle'])['EmployeeName'].count()==1)
sum(df[df['Year'] == 2011]['JobTitle'].value_counts() == 1)

200

In [97]:
# 'Chief'라는 직업을 가진 사람의 수
df[df['JobTitle'].apply(lambda x : 'chief' in x.lower())]['Id'].count()

318

In [98]:
jobtitle = df['JobTitle'].apply(lambda x: x.lower())

total = 0
for t in jobtitle:
    if 'chief' in t:
        total += 1
total

318

In [100]:
sum(df['JobTitle'].apply(lambda x: x.lower()).str.contains('chief'))

318