In [1]:
import numpy as np
import pandas as pd

In [70]:
ecom = pd.read_csv('./pandas_datafiles/Ecommerce Purchases')
ecom.head(2)      # head : 상위 몇 개만 추출 (default : 5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [42]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [43]:
# 고객들의 평균 구매 금액
round(ecom['Purchase Price'].mean(),2)

50.35

In [44]:
# 최고구매금액과 최소구매금액
print(ecom['Purchase Price'].max(), ecom['Purchase Price'].min(), sep = '\t')

99.99	0.0

In [45]:
# 영어권 사용자의 구매금액의 평균
round(ecom.loc[ecom['Language'] == 'en']['Purchase Price'].mean(), 2)

51.1

In [46]:
# 'Job'이 'Lawyer'인 사람의 숫자
# len(ecom.loc[ecom['Job'] == 'Lawyer'])
sum(ecom['Job'] == 'Lawyer')          # True == 1로 계산해서 sum을 한다
# len(ecom[ecom['Job'] == 'Lawyer'])

30

In [47]:
# Lot이 '90 WT'인 곳에서 구매한 사람의 구매금액
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [48]:
# 카드회사가 'American Express'이고, 구매금액이 $95 이상인 고객의 수
len(ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] >= 95)])
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] >= 95)].shape[0]
# ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] >= 95)].count()

# len : len(df), len(df.index) : 행 개수 세기
# count : df.count()     : Null값이 아닌 행 개수 세기

39

In [49]:
# card 만료일이 2025년도인 카드를 소지한 구매자의 수
sum(ecom['CC Exp Date'].apply(lambda x : x[-2:]) == '25')  # True == 1로 계산해서 sum을 한다
# ecom[ecom['CC Exp Date'].apply(lambda x : x[-2:]) == '25'].shape[0]
# len(ecom[ecom['CC Exp Date'].apply(lambda x : x[-2:]) == '25'])

1033

In [50]:
ecom[ecom['CC Exp Date'].apply(lambda x : x[-2:]) == '25'].shape[0]

1033

## apply

> 고객의 email에서 email domain이 각각 몇개?

In [71]:
ecom['Email']

0                    pdunlap@yahoo.com
1                   anthony41@reed.com
2       amymiller@morales-harrison.com
3          brent16@olson-robinson.info
4          christopherwright@gmail.com
                     ...
9995            iscott@wade-garner.com
9996                mary85@hotmail.com
9997                 tyler16@gmail.com
9998           elizabethmoore@reid.net
9999             rachelford@vaughn.com
Name: Email, Length: 10000, dtype: object

In [77]:
# domain만 추출해서 새로운 칼럼에 저장
ecom['email_domain'] = ecom['Email'].apply(lambda x : x.split('@')[1])
# domain 개수
ecom.groupby('email_domain')['Address'].count().sort_values(ascending = False)      # value를 기준으로 정렬
                                                                                    # ascending = False : 내림차순

email_domain
hotmail.com           1638
yahoo.com             1616
gmail.com             1605
smith.com               42
williams.com            37
                      ...
hart-schwartz.info       1
hart-scott.com           1
hart-weaver.com          1
hart-young.com           1
zuniga-jackson.com       1
Name: Address, Length: 3416, dtype: int64

In [79]:
# value_counts() : value의 개수를 리턴해주는 매서드
ecom['Email'].apply(lambda x : x.split('@')[1]).value_counts()

hotmail.com            1638
yahoo.com              1616
gmail.com              1605
smith.com                42
williams.com             37
                       ...
booker.com                1
woods-allen.biz           1
richards-wilson.com       1
morris-thomas.com         1
wade-garner.com           1
Name: Email, Length: 3416, dtype: int64

> 오전 구매건수와 오후 구매 건수를 계산

In [92]:
# # 오전
# ecom[ecom['AM or PM'] == 'AM']['Address'].count()
# # 오후
# len(ecom) - 4932

ecom.groupby('AM or PM').Address.count()

AM or PM
AM    4932
PM    5068
Name: Address, dtype: int64

In [90]:
# value_counts() 사용
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

> 고객이 사용하는 브라우저 종류별 개수를 출력

In [98]:
ecom['Browser Info'].apply(lambda x : x.split('/')[0]).value_counts()

Mozilla    7924
Opera      2076
Name: Browser Info, dtype: int64

In [102]:
ecom.groupby(ecom['Browser Info'].apply(lambda x : x.split('/')[0]))['Lot'].count()

Browser Info
Mozilla    7924
Opera      2076
Name: Lot, dtype: int64