In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import MySQLdb
import pandas as pd
import numpy as np

In [5]:
budongsan = pd.read_csv('budongsan.csv', index_col = 0)

In [6]:
db = MySQLdb.connect(host='localhost', user='root', password = '1234')
cursor = db.cursor()

In [9]:
sql = 'show databases;'
pd.read_sql(sql,db)

              Database
0   information_schema
1            budongsan
2            employees
3                mysql
4   performance_schema
5               sakila
6               shopdb
7                sqldb
8                  sys
9              tabledb
10               world

In [8]:
sql = 'create database if not exists budongsan;'
cursor.execute(sql)

1

In [15]:
sql = '''
use budongsan;
'''

cursor.execute(sql)

0

In [16]:
sql = '''
create table if not exists provider(
    provider_id int primary key,
    name varchar(30));
'''
cursor.execute(sql)

0

In [17]:
sql = '''
insert into provider values(1, '우리부동산');
insert into provider values(2, '한마음부동산');
'''
cursor.execute(sql)

1

In [18]:
sql = '''
select * from provider;
'''

cursor.execute(sql)
cursor.fetchall()

((1, '우리부동산'), (2, '한마음부동산'))

In [40]:
budongsan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   매물번호    43 non-null     float64
 1   연락처     43 non-null     object
 2   주소      43 non-null     object
 3   부동산     43 non-null     object
 4   보증금     43 non-null     float64
 5   월세      43 non-null     float64
dtypes: float64(3), object(3)
memory usage: 2.4+ KB

In [38]:
budongsan = pd.read_csv('budongsan.csv', index_col = 0)

budongsan.head(2)

        매물번호           연락처             주소              부동산      보증금     월세
0  3467204.0  010-123-4567  서울시 강남구 역삼동 0  TODAY공인중개사(이인규)   1000.0  100.0
1  3150497.0  010-123-4567  서울시 강남구 역삼동 1  TODAY공인중개사(이인규)  11000.0   60.0

In [24]:
sql = '''
create table agency (
    product_id float primary key,
    phone char(13),
    address char(20),
    agency_nm varchar(50),
    deposit float,
    rent float
);
'''

cursor.execute(sql)

OperationalError: (1050, "Table 'agency' already exists")

In [47]:
# primary key에 중복값이 있기 때문에 ignore로 실행시켜준다
sql = '''
insert ignore into agency values ('{}','{}','{}','{}','{}','{}')
'''
for i in range(len(budongsan)):
    p_id = budongsan.iloc[i][0]
    pho = budongsan.iloc[i][1]
    add_ = budongsan.iloc[i][2]
    an = budongsan.iloc[i][3]
    dep = budongsan.iloc[i][4]
    re = budongsan.iloc[i][5]
    
    
    sql = "insert ignore into agency values ('{}','{}','{}','{}','{}','{}')"
    sql = sql.format(p_id, pho, add_, an, dep, re)
    cursor.execute(sql)

In [49]:
sql = 'select * from agency'

pd.read_sql(sql, db).head()

   product_id         phone         address        agency_nm  deposit  rent
0   3103380.0  010-123-4567  서울시 강남구 역삼동 17  TODAY공인중개사(이인규)   5000.0  50.0
1   3150500.0  010-123-4567   서울시 강남구 역삼동 1  TODAY공인중개사(이인규)  11000.0  60.0
2   3181680.0  010-123-4567  서울시 강남구 역삼동 20  TODAY공인중개사(이인규)   5000.0  60.0
3   3190410.0  010-123-4567  서울시 강남구 역삼동 28     건우공인중개사(김상모)     70.0  70.0
4   3228630.0  010-123-4567  서울시 강남구 역삼동 10   HS강남공인중개사(김현수)   1000.0  96.0