In [5]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [1]:
import MySQLdb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import requests
from bs4 import BeautifulSoup

In [4]:
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [25]:
url = 'https://finance.naver.com/item/sise_day.naver?code=005930&page=11'

In [26]:
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

In [27]:
# requests가 막혀있다
pd.read_html(res.text)

ValueError: No tables found

In [28]:
driver = webdriver.Chrome()
driver.get(url)
time.sleep(0.5)
html = driver.page_source
df = pd.read_html(html)[0]
df.dropna(inplace = True)
driver.close()

In [29]:
df

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.09.09  75300.0  1000.0  76400.0  76600.0  75000.0  17600770.0
2   2021.09.08  76300.0   200.0  76000.0  76400.0  75600.0  11798147.0
3   2021.09.07  76100.0  1200.0  77100.0  77100.0  75900.0  13239401.0
4   2021.09.06  77300.0   700.0  76800.0  77600.0  76600.0  12861180.0
5   2021.09.03  76600.0   600.0  76400.0  76700.0  76000.0  12096419.0
9   2021.09.02  76000.0   800.0  76800.0  76800.0  75700.0  15347486.0
10  2021.09.01  76800.0   100.0  76700.0  77100.0  75900.0  16114775.0
11  2021.08.31  76700.0  2100.0  74900.0  76700.0  74300.0  24630370.0
12  2021.08.30  74600.0   300.0  75400.0  75500.0  74200.0  12686999.0
13  2021.08.27  74300.0   300.0  74300.0  75000.0  73800.0  15172748.0

In [24]:
df_code = pd.read_csv('./data/universe_code.csv')
codes = df_code.종목코드.apply(lambda x : x[1:]).values
codes

array(['000210', '000220', '000240', '000250', '000660', '000990',
       '001340', '001390', '001500', '001750', '001800', '001820',
       '001880', '002310', '002350', '002390', '002870', '003090',
       '003220', '003410', '003530', '003550', '003670', '003780',
       '003850', '004000', '004170', '004490', '004590', '005290',
       '005670', '005690', '005880', '005930', '006060', '006220',
       '006390', '006400', '006620', '006650', '006740', '007330',
       '007340', '007570', '007700', '008490', '009150', '009420',
       '009780', '009970', '010050', '010130', '010240', '010640',
       '010780', '011040', '011170', '011330', '011780', '012330',
       '012510', '012630', '012700', '012750', '012790', '013030',
       '013120', '013810', '013890', '014570', '014680', '014830',
       '015230', '015710', '016090', '016360', '016580', '016600',
       '016610', '017040', '017510', '017890', '017960', '018250',
       '018260', '018310', '019550', '020000', '020150', '020710',
       '021080', '021240', '022220', '023590', '023600', '023760',
       '023770', '023900', '023910', '024110', '024120', '024720',
       '025900', '026890', '026960', '027360', '027410', '027970',
       '028100', '028670', '029460', '029780', '029960', '030190',
       '030210', '030520', '030530', '030610', '031390', '031430',
       '032080', '032190', '032500', '032560', '032620', '032850',
       '033100', '033130', '033160', '033270', '033290', '033500',
       '033640', '033660', '033780', '033830', '034810', '034830',
       '035250', '035420', '035460', '035600', '035900', '036120',
       '036200', '036480', '036490', '036530', '036560', '036570',
       '036800', '036810', '036830', '036890', '036930', '038390',
       '038540', '038870', '039010', '039340', '039420', '039440',
       '039490', '039840', '039860', '040160', '040420', '040910',
       '041460', '041830', '041910', '041920', '042370', '042500',
       '042510', '042700', '043150', '044060', '044340', '044450',
       '045060', '045300', '045520', '046110', '046310', '046440',
       '047770', '047810', '049070', '049720', '049960', '050760',
       '050960', '051360', '051600', '051900', '052260', '052330',
       '052400', '052690', '052790', '052860', '053030', '053210',
       '053300', '053610', '053690', '053800', '054040', '054450',
       '054670', '054950', '055490', '055550', '056190', '056360',
       '058400', '058470', '058630', '059090', '059120', '059210',
       '060150', '060250', '060540', '060980', '061970', '062970',
       '063160', '063760', '064290', '064760', '064960', '065130',
       '065370', '065510', '065680', '066670', '067080', '067160',
       '067830', '067900', '068270', '068330', '068790', '068930',
       '069080', '069260', '069960', '071050', '071200', '072020',
       '072990', '073010', '073110', '073490', '075130', '077360',
       '078140', '078340', '079940', '079960', '080000', '081000',
       '081660', '082920', '083450', '083550', '083930', '084110',
       '084370', '084680', '084850', '086390', '086450', '086520',
       '086670', '086790', '086900', '088130', '088980', '089030',
       '089140', '089600', '089790', '089890', '089970', '089980',
       '090460', '090850', '091440', '091700', '091990', '092440',
       '092730', '093320', '093520', '094820', '094840', '094850',
       '095610', '095660', '096240', '096530', '097230', '097520',
       '097800', '097870', '098460', '099190', '099320', '100120',
       '100250', '100700', '100790', '101160', '101240', '101490',
       '102120', '102710', '104460', '104540', '104830', '105560',
       '105740', '108380', '108490', '109740', '110990', '111710',
       '111770', '114090', '115960', '119610', '119860', '120240',
       '121600', '122310', '122450', '122990', '123890', '126560',
       '127710', '128940', '130660', '131030', '131290', '131370',
       '131390', '131970', '136540', '137950', '138080', '138930',
       '139130', '140860', '141000', '141080', '143240', '144960',
       '145020', '145720', '147830', '148150', '149950', '149980',
       '151860', '161390', '166090', '169330', '170790', '170900',
       '171010', '171090', '171120', '175330', '178320', '178920',
       '179290', '179900', '183300', '186230', '187870', '189300',
       '189690', '189980', '192080', '192250', '192440', '194700',
       '198080', '200130', '200470', '200670', '200780', '201490',
       '203450', '203650', '204270', '204620', '205100', '206400',
       '206640', '207760', '207940', '208350', '208710', '210540',
       '210980', '213420', '214150', '214180', '214270', '214320',
       '214450', '215200', '216050', '217190', '217500', '217600',
       '217820', '218410', '219420', '221840', '222080', '225330',
       '225530', '225590', '226340', '227840', '228670', '228850',
       '230360', '234080', '234340', '234690', '236200', '237750',
       '237820', '238200', '238490', '240810', '241560', '241590',
       '241690', '241770', '241790', '243070', '243840', '247540',
       '250000', '251270', '251370', '251630', '251970', '253450',
       '255440', '258830', '260660', '263600', '263690', '263720',
       '263750', '263860', '264450', '264660', '267320', '267790',
       '270520', '270870', '271560', '272110', '272290', '272550',
       '277410', '278280', '278650', '281740', '281820', '282690',
       '284740', '285490', '290120', '290270', '290380', '290520',
       '290650', '290670', '290720', '293480', '297090', '299900',
       '300120', '302430', '306040', '308100', '312610', '317330',
       '322180', '327260', '900250', '900270', '900280', '900300',
       '900310', '900340', '950110', '950180'], dtype=object)

In [33]:
db = MySQLdb.connect(host='localhost', port=3306, user='root', passwd='1234')
cursor = db.cursor()

In [35]:
sql = 'show databases;'
pd.read_sql(sql,db)

              Database
0   information_schema
1            budongsan
2            employees
3               fin_db
4            gmarketdb
5                mysql
6   performance_schema
7               sakila
8               shopdb
9                sqldb
10                 sys
11             tabledb
12               world

In [38]:
sql = 'use fin_db;'
cursor.execute(sql)

0

In [52]:
sql = 'drop table stock_table;'
cursor.execute(sql)

0

In [53]:
sql = '''
create table if not exists stock_table (
code char(6),
date date,
close float,
margin float,
start float,
high float,
low float,
volume float);
'''

cursor.execute(sql)

0

In [55]:
url = 'https://finance.naver.com/item/sise_day.naver?code={}&page={}'
driver = webdriver.Chrome()
for code in codes[:10]:
    for i in range(1,5):
        driver.get(url.format(code, i))
        time.sleep(0.5)
        html = driver.page_source
        
        df = pd.read_html(html)[0]
        df.dropna(inplace = True)
        print(code)
        print('=' * 100)
        
        for j in range(len(df)):
            code = code
            date = df.iloc[j][0]
            close = df.iloc[j][1]
            margin = df.iloc[j][2]
            start = df.iloc[j][3]
            high = df.iloc[j][4]
            low = df.iloc[j][5]
            volume = df.iloc[j][6]
            
            sql = '''
            insert ignore into stock_table values('{}','{}', '{}', '{}', '{}', '{}', '{}', '{}');
            '''.format(code,date,close,margin,start,high,low,volume)
            
            cursor.execute(sql)
            
driver.close()

000210
====================================================================================================
000210
====================================================================================================
000210
====================================================================================================
000210
====================================================================================================
000220
====================================================================================================
000220
====================================================================================================
000220
====================================================================================================
000220
====================================================================================================
000240
====================================================================================================
000240
====================================================================================================
000240
====================================================================================================
000240
====================================================================================================
000250
====================================================================================================
000250
====================================================================================================
000250
====================================================================================================
000250
====================================================================================================
000660
====================================================================================================
000660
====================================================================================================
000660
====================================================================================================
000660
====================================================================================================
000990
====================================================================================================
000990
====================================================================================================
000990
====================================================================================================
000990
====================================================================================================
001340
====================================================================================================
001340
====================================================================================================
001340
====================================================================================================
001340
====================================================================================================
001390
====================================================================================================
001390
====================================================================================================
001390
====================================================================================================
001390
====================================================================================================
001500
====================================================================================================
001500
====================================================================================================
001500
====================================================================================================
001500
====================================================================================================
001750
====================================================================================================
001750
====================================================================================================
001750
====================================================================================================
001750
====================================================================================================

In [56]:
sql = 'select * from stock_table;'

st_price = pd.read_sql(sql,db)
st_price

       code        date    close  margin    start     high      low   volume
0    000210  2022-02-09  60300.0   700.0  59700.0  60400.0  59000.0  12738.0
1    000210  2022-02-08  59600.0  1000.0  59100.0  61000.0  58600.0  83130.0
2    000210  2022-02-07  58600.0  1100.0  57500.0  58800.0  57000.0  53386.0
3    000210  2022-02-04  57500.0   900.0  56900.0  57800.0  56600.0  34228.0
4    000210  2022-02-03  56600.0   700.0  56300.0  57500.0  56300.0  44961.0
..      ...         ...      ...     ...      ...      ...      ...      ...
395  001750  2021-12-16  16000.0    50.0  16050.0  16100.0  15950.0  30691.0
396  001750  2021-12-15  16050.0    50.0  16000.0  16150.0  15900.0  48967.0
397  001750  2021-12-14  16100.0   100.0  15850.0  16100.0  15800.0  37002.0
398  001750  2021-12-13  16000.0   250.0  15700.0  16050.0  15700.0  36308.0
399  001750  2021-12-10  15750.0   150.0  15850.0  15900.0  15700.0  26953.0

[400 rows x 8 columns]

In [98]:
from datetime import datetime
st_price['date'] = pd.to_datetime(st_price['date'])
st_price[st_price['date'].dt.month == 2]

,code,date,close,margin,start,high,low,volume
0,000210,2022-02-09,60300.0,700.0,59700.0,60400.0,59000.0,12738.0
1,000210,2022-02-08,59600.0,1000.0,59100.0,61000.0,58600.0,83130.0
2,000210,2022-02-07,58600.0,1100.0,57500.0,58800.0,57000.0,53386.0
3,000210,2022-02-04,57500.0,900.0,56900.0,57800.0,56600.0,34228.0
4,000210,2022-02-03,56600.0,700.0,56300.0,57500.0,56300.0,44961.0
40,000220,2022-02-09,8620.0,1440.0,7220.0,8880.0,7200.0,9115540.0
41,000220,2022-02-08,7180.0,100.0,7250.0,7310.0,7110.0,103370.0
42,000220,2022-02-07,7280.0,80.0,7250.0,7340.0,7110.0,141024.0
43,000220,2022-02-04,7200.0,20.0,7120.0,7290.0,7080.0,160387.0
44,000220,2022-02-03,7180.0,360.0,6970.0,7600.0,6930.0,566487.0
80,000240,2022-02-09,13650.0,200.0,13650.0,13700.0,13500.0,18133.0
81,000240,2022-02-08,13450.0,250.0,13700.0,14000.0,13400.0,87066.0
82,000240,2022-02-07,13700.0,200.0,13500.0,13800.0,13200.0,87461.0
83,000240,2022-02-04,13500.0,100.0,13300.0,13600.0,13250.0,56484.0
84,000240,2022-02-03,13400.0,450.0,13200.0,13800.0,13100.0,104055.0
120,000250,2022-02-09,35950.0,450.0,36500.0,36650.0,35550.0,29792.0
121,000250,2022-02-08,36400.0,500.0,36100.0,38200.0,35700.0,208998.0
122,000250,2022-02-07,35900.0,0.0,36050.0,36050.0,34850.0,69553.0
123,000250,2022-02-04,35900.0,100.0,35500.0,36650.0,35500.0,61603.0
124,000250,2022-02-03,36000.0,1650.0,35100.0,36650.0,35050.0,114495.0
160,000660,2022-02-09,127000.0,2000.0,127000.0,128000.0,126500.0,1901350.0
161,000660,2022-02-08,125000.0,2000.0,124500.0,126000.0,123500.0,4054100.0
162,000660,2022-02-07,123000.0,1500.0,123000.0,123500.0,119500.0,4804260.0
163,000660,2022-02-04,124500.0,500.0,125500.0,127000.0,124000.0,3037100.0
164,000660,2022-02-03,124000.0,3500.0,124500.0,127000.0,124000.0,5171180.0
200,000990,2022-02-09,70700.0,600.0,71300.0,71800.0,70600.0,312666.0
201,000990,2022-02-08,70100.0,1900.0,72600.0,72800.0,68600.0,1143350.0
202,000990,2022-02-07,72000.0,2100.0,74100.0,74200.0,70800.0,911502.0
203,000990,2022-02-04,74100.0,100.0,73700.0,75200.0,73500.0,506300.0
204,000990,2022-02-03,74000.0,100.0,76000.0,76100.0,73200.0,905820.0
240,001340,2022-02-09,4560.0,85.0,4510.0,4590.0,4500.0,115723.0
241,001340,2022-02-08,4475.0,35.0,4510.0,4555.0,4410.0,260429.0
242,001340,2022-02-07,4510.0,60.0,4525.0,4535.0,4415.0,216426.0
243,001340,2022-02-04,4450.0,65.0,4365.0,4465.0,4300.0,237746.0
244,001340,2022-02-03,4385.0,220.0,4250.0,4385.0,4245.0,291615.0
280,001390,2022-02-09,27100.0,250.0,27000.0,27300.0,26950.0,15910.0
281,001390,2022-02-08,26850.0,300.0,27150.0,27550.0,26600.0,61722.0
282,001390,2022-02-07,27150.0,400.0,27450.0,27550.0,26800.0,36324.0
283,001390,2022-02-04,27550.0,650.0,26450.0,27550.0,26450.0,31929.0
284,001390,2022-02-03,26900.0,450.0,27050.0,27500.0,26800.0,43025.0
320,001500,2022-02-09,11450.0,100.0,11400.0,11500.0,11350.0,19379.0
321,001500,2022-02-08,11350.0,50.0,11300.0,11400.0,11050.0,65180.0
322,001500,2022-02-07,11300.0,150.0,11450.0,11450.0,11100.0,53694.0
323,001500,2022-02-04,11450.0,350.0,11000.0,11450.0,11000.0,79841.0
324,001500,2022-02-03,11100.0,300.0,10950.0,11100.0,10900.0,63387.0
360,001750,2022-02-09,15550.0,350.0,15200.0,15700.0,15150.0,13859.0
361,001750,2022-02-08,15200.0,150.0,15350.0,15500.0,15100.0,11528.0
362,001750,2022-02-07,15350.0,350.0,15600.0,15700.0,15200.0,12459.0
363,001750,2022-02-04,15700.0,250.0,15250.0,15700.0,15050.0,32225.0
364,001750,2022-02-03,15450.0,600.0,14900.0,15550.0,14900.0,36627.0