# String

In [1]:
txt1 = '  A tale that was not right  '   
txt2 = '이 또한 지나가리라'

---

tale을 출력하시오.

In [5]:
txt1[2:7]

'tale '

'지'를 출력하시오.

In [6]:
txt2[-5]

'지'

'a'는 몇 개가 존재하는가?

In [7]:
txt1.count('a')

3

txt1에서 모음의 갯수는 몇 개인가?

In [11]:
txt_ = txt1.lower()
cnt = 0
for i in txt_:
    if i in 'aeiou':
        cnt += 1
cnt

7

'또한'을 '것도'로 수정하시오

In [2]:
txt_ = txt2.replace('또한','것도')
txt_

'이 것도 지나가리라'

txt1을 대문자로 출력하시오

In [13]:
print(txt1.upper())

A TALE THAT WAS NOT RIGHT

txt1에서 right은 몇 번째 인덱스에 등장하는가?

In [65]:
txt1.find('right')

22

In [66]:
txt1.index('right')

22

In [63]:
txt1.find('heaven')

-1

In [61]:
txt1.index('heaven')

ValueError: substring not found

txt1을 space를 기준으로 나눠서 리스트에 담으시오

In [17]:
a = txt1.split()
a

['A', 'tale', 'that', 'was', 'not', 'right']

txt2의 길이는 얼마인가?

In [18]:
len(txt2)

10

txt2를 character 단위로 나눠서 리스트에 담으시오

In [29]:
a = list(txt2.replace(' ',''))
a

['이', '또', '한', '지', '나', '가', '리', '라']

txt1의 좌우 공백을 제거하시오

In [67]:
txt1.strip()

'A tale that was not right'

txt2를 역순으로 출력하시오

In [69]:
txt2[::-1]

'라리가나지 한또 이'

txt1과 txt2를 연결하여 하나의 문자열로 만드시오

In [70]:
txt1 + txt2

'  A tale that was not right이 또한 지나가리라'

txt2에서 짝수 인덱스 문자만 출력하시오

In [72]:
txt2[::2]

'이또 나리'

txt1에서 뒤에서 5번째 문자를 출력하시오

In [76]:
txt1[-5]

'g'

txt1의 문자를 index와 튜블로 묶어서 리스트에 담으시오

In [28]:
li = []
txt_ = txt1.replace(' ','')
for p,q in enumerate(txt_):
    li.append((q,p))
print(li)

[('A', 0), ('t', 1), ('a', 2), ('l', 3), ('e', 4), ('t', 5), ('h', 6), ('a', 7), ('t', 8), ('w', 9), ('a', 10), ('s', 11), ('n', 12), ('o', 13), ('t', 14), ('r', 15), ('i', 16), ('g', 17), ('h', 18), ('t', 19)]

url중 도메인만 출력하시오

In [78]:
url = 'http://www.naver.com/news/today=20221230'
print(url.split('/')[2])

www.naver.com

log = 'name : 홍길동, age : 17, sex : 남성, nation : 대한민국'   
아래와 같이 출력하시오   
name => '홍길동'   
age => 17   
sex => '남성'   
...

In [77]:
log = 'name : 홍길동, age : 17, sex : 남성, nation : 대한민국'
log1 = log.split(',')
for i in range(len(log1)):
    print(log1[i].replace(' : ',' => ').strip())

name => 홍길동
age => 17
sex => 남성
nation => 대한민국

In [59]:
for i in range(len(log1)):
    log2 = log1[i].strip().split(':')
    print('{}=>{}'.format(log2[0],log2[1]))

name => 홍길동
age => 17
sex => 남성
nation => 대한민국

In [88]:
text = '''\
2022 '리그 오브 레전드' 월드 챔피언십을 향한 여정이 시작됐습니다.\
지난 10일 개막한 LPL(중국)을 시작으로 LCK(12일), LEC(유럽, 14일) 등이 새로운 시작을 맞이할 예정이죠.\
프로 선수들의 수준 높은 플레이에 목말라 있을 팬들에겐 무척 반가운 소식이 아닐 수 없습니다.\
'''
text

"2022 '리그 오브 레전드' 월드 챔피언십을 향한 여정이 시작됐습니다.지난 10일 개막한 LPL(중국)을 시작으로 LCK(12일), LEC(유럽, 14일) 등이 새로운 시작을 맞이할 예정이죠.프로 선수들의 수준 높은 플레이에 목말라 있을 팬들에겐 무척 반가운 소식이 아닐 수 없습니다."

In [84]:
text = "2022 '리그 오브 레전드'\
월드 챔피언십을 향한 여정이 시작됐습니다."
text

"2022 '리그 오브 레전드'월드 챔피언십을 향한 여정이 시작됐습니다."

# datatype
- 기본형
    1. int : 95
    2. float : 3.14
    3. bool : True, False
    
- 군집형(여러 요소가 모여서 하나의 데이터 형식)
    1. string : '', 요소의 수정, 삭제, 추가가 안됨.
        - 순서, 인덱스가 존재         
    2. list : [], 요소의 수정, 삭제, 추가가 자유롭다.
        - 순서, 인덱스가 존재
    3. tuple : (), 요소의 수정, 삭제, 추가가 안됨, 보조용.
        - 순서, 인덱스가 존재
    4. set : {}, 요소의 삭제, 추가 가능. 중복요소가 없다. 
        - **집합**연산가능. 순서
        - 인덱스가 없다.
    5. dictionary : {key:value}, 요소의 수정, 삭제, 추가가 자유롭다.
        - 데이터의 저장(json과 유사).
        - 순서는 없고, 인덱스는 key역할

## List

In [220]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24, 25, 3)]

In [221]:
# 't'를 출력하시오
score[3][2]

't'

In [222]:
# 56을 출력하시오
score[-2][1]

56

In [223]:
# 마지막 요소의 최대값을 출력하시오
max(score[-1])

25

In [224]:
# 'python'을 'world'로 수정하시오
score[3] = 'world'
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3)]

In [225]:
# 마지막에 'sun'을 추가하시오
score.append('sun')
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [226]:
# 'world'가 있는지 확인하시오
'world' in score

True

In [227]:
# 마지막에서 2번째 요소를 내림차순으로 정렬하시오
sorted(score[-2], reverse = True)

[25, 24, 3]

In [228]:
# 90은 몇 번째 인덱스에 있는지 확인하시오
score.index(90)

1

In [209]:
# 리스트를 역순으로 정렬하시오
score.reverse()
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [229]:
# # 3번째 인덱스에 'sea'를 추가하시오
# score.insert(3, 'sea')
# score

In [230]:
# 0번째 인덱스에 'sea'를 추가하시오
score.insert(0, 'sea')
score

['sea', 81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [231]:
# True를 False로 수정하시오
score[score.index(True)] = False
score

['sea', 81, 90, 78, 'world', 'hello', False, [78, 56, 32], (24, 25, 3), 'sun']

In [232]:
# 'world'를 제거하시오
score.remove('world')
score

['sea', 81, 90, 78, 'hello', False, [78, 56, 32], (24, 25, 3), 'sun']

In [233]:
# 7번째 요소를 제거하시오
score.pop(7)
score

['sea', 81, 90, 78, 'hello', False, [78, 56, 32], 'sun']

In [234]:
# 리스트의 길이를 출력하시오
len(score)

8

In [235]:
# 두 번째 요소의 데이터타입을 출력하시오
type(score[2])

int

In [236]:
# [78, 56, 32]를 "78:56:32"로 수정하시오
i = score.index([78, 56, 32])
score[i] = list(map(str,score[i]))
score[i] = ':'.join(score[i])
score[i]

'78:56:32'

In [237]:
score

['sea', 81, 90, 78, 'hello', False, '78:56:32', 'sun']

In [ ]:
# 모든 원소를 제거하시오
# score.clear()
# score

In [ ]:
# 리스트를 삭제하시오
# del score

## Tuple

In [56]:
myTuple = ('tuple', (1,2,3) , [4,5,6,7,8] ,'7', '8', '9')

In [57]:
# 'tuple'을 출력하세요
print(myTuple[0])
# 3을 출력하세요

print(myTuple[1][2])

# 4,5를 출력하세요
# print(myTuple[2][0],myTuple[2][1], sep = ',')
print(myTuple[2][:2])

# [4,5,6]을 출력하세요
print(myTuple[2][:3])

# tuple의 길이를 리턴하세요 ( 요소의 갯수가 몇 개인지 )
print(len(myTuple))

# '7'이 있는지 확인하세요
print('7' in myTuple)

# '7'의 인덱스를 출력하세요.
print(myTuple.index('7'))

# '7'이 몇 개 있는지 확인하세요
print(myTuple.count('7'))

# 인데스 2번를 출력하세요
print(myTuple[2])

# 인데스 2번에서 최대값을 출력하세요
print(max(myTuple[2]))

# 인데스 2번에서 최소값을 출력하세요
print(min(myTuple[2]))

# 인데스 2번에서 총합을 출력하세요
print(sum(myTuple[2]))

# 인데스 2번에서 평균을 출력하세요
import numpy as np
print(np.mean(myTuple[2]))
# print(sum(myTuple[2])/len(myTuple[2]))

# 인데스 2번를 내림차순 정렬해서 출력하세요.
print(sorted(myTuple[2], reverse=True))

tuple
3
[4, 5]
[4, 5, 6]
6
True
3
1
[4, 5, 6, 7, 8]
8
4
30
6.0
[8, 7, 6, 5, 4]

## Set

In [9]:
# 원소가 없는 set를 만드세요
s = set()

In [10]:
# s에 원소 'sky'와 'earth'를 추가하세요
s.add('sky')
s.add('earth')

In [11]:
# s에 1,2 두 원소를 추가하세요
s.update({1,2})

In [12]:
# s에서 'sky'를 삭제하세요
s.remove('sky')
s

{1, 2, 'earth'}

In [13]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}
# 두 집합의 합집합
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
# 두 집합의 교집합
A.intersection(B)

{1, 2, 3}

In [15]:
# A의 B에 대한 차집합
A.difference(B)

{4, 5, 6}

In [16]:
# 대칭차집합
A.symmetric_difference(B)

{4, 5, 6, 7, 8, 9}

In [32]:
# C가 A의 부분집합인지 확인
A.issubset(C)

False

In [30]:
# A가 C를 포함하는지 확인
A.issuperset(C)

True

In [21]:
# 집합 B의 길이
len(B)

6

In [22]:
# 집합 B의 최대값
max(B)

9

In [23]:
# 집합 B의 최소값
min(B)

1

In [26]:
# 집합 B의 합
sum(B)

30

In [37]:
# 집합 B의 평균
sum(B)/len(B)

5.0

In [28]:
# 집합 B의 내림차순 출력
sorted(B, reverse = True)

[9, 8, 7, 3, 2, 1]

In [29]:
# 집합 B에 5가 포함되어 있는지 확인
5 in B

False

## Dictionary

In [39]:
mydict = dict()

In [59]:
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
# 기존에 없는 키에 값을 넣으면 원소 추가
mydict['red'], mydict['blue'], mydict['green'] = 4, 3, 1; print(mydict)

# 기존에 있는 키에 값을 대입하면 덮어쓰기
mydict['red'] = 10; print(mydict)

{'red': 4, 'green': 1, 'pink': 100, 'yellow': 30, '파랑': 50, '빨강': 70, 'blue': 3}
{'red': 10, 'green': 1, 'pink': 100, 'yellow': 30, '파랑': 50, '빨강': 70, 'blue': 3}

In [41]:
# key에 'blue'가 있는지 확인하세요.
# print('blue' in mydict.keys())
print('blue' in mydict)

True

In [42]:
# mydict의 길이를 출력하세요.
print(len(mydict))

3

In [43]:
# 'red'의 값을 출력하세요.
print(mydict['red'])

10

In [44]:
# key값만 출력하세요
print(mydict.keys())

dict_keys(['red', 'blue', 'green'])

In [45]:
# value값만 출력하세요
print(mydict.values())

dict_values([10, 3, 1])

In [46]:
# key와 value를 튜플로 출력하세요.
print(mydict.items())

dict_items([('red', 10), ('blue', 3), ('green', 1)])

In [47]:
# (key기준으로 정렬하세요.)
sorted(mydict.items(), key =lambda x:x[0])

[('blue', 3), ('green', 1), ('red', 10)]

In [48]:
# (value기준으로 정렬하세요)
sorted(mydict.items(), key =lambda x:x[1])

[('green', 1), ('blue', 3), ('red', 10)]

In [60]:
# key 'blue'요소를 삭제하세요
# del mydict['blue'];
mydict.pop('blue')

3

In [50]:
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
# 없는 key를 요청 시 에러를 발생시키지 않는다.
# dict.setdefault('key', value) - key가 존재하면 value를 리턴
#                                       없는 key라면 (key,value) 원소를 추가
print(mydict.get('pink'))

None

In [51]:
mydict.setdefault('red',10)
mydict.setdefault('pink',100)

100

In [52]:
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
if not mydict.get('pink'):
    mydict['pink'] = 20
    print(mydict)

In [53]:
# value에 20이 있는지 확인하세요.
print(20 in mydict.values())

False

In [54]:
# key는 'yellow'에 value는 30을 추가하세요.
mydict['yellow'] = 30

In [55]:
# # yourdict = {'파랑':50, '빨강':70}을 합하세요..
yourdict = {'파랑':50, '빨강':70}
mydict.update(yourdict)
mydict

{'red': 10, 'green': 1, 'pink': 100, 'yellow': 30, '파랑': 50, '빨강': 70}

# If

In [61]:
# 조건식 => True / False

# if 조건식 :
#     실행코드
# elif 조건식:
#     실행코드
# elif 조건식:
#     실행코드
# else:
#     실행코드

점수를 입력받은 후 학점을 출력하시오.

In [63]:
score = int(input('점수를 입력하세요: '))

if score >= 90:
    print('A학점 입니다.')
elif 90 > score >= 80:
    print('B학점 입니다.')
elif 80 > score >= 70:
    print('C학점 입니다.')
else:
    print('D학점 입니다.')

점수를 입력하세요: 95
A학점 입니다.

비밀번호 = 1234인 경우 비밀번호를 입력받은 후 맞으면 '환영합니다.',   
           틀리면 '비밀번호가 틀립니다'를 출력하시오.

In [64]:
password = input('비밀번호를 입력하시오: ')

if password == '1234':
    print('환영합니다.')
else:
    print('비밀번호가 틀립니다.')

비밀번호를 입력하시오.: 1234
환영합니다.

임의의 정수를 입력받은 후 짝수면 '짝수입니다.', 홀수면 '홀수입니다'출력

In [67]:
num = int(input("정수를 입력하시오: "))

if num % 2:
    print('홀수입니다.')
else:
    print('짝수입니다.')

정수를 입력하시오: 10
짝수입니다.

주민번호 "851205-1234567"   
주민번호를 입력받은 후 '당신은 나이는 _이고, 성별은_입니다' 출력

In [80]:
from datetime import datetime as dt
a = dt.now()
year = a.year
sex_ = ''
age_ = 0
person_code = input('주민번호를 입력하시오: ').split('-')

if int(person_code[1][0]) <= 2:
    age_ = year - int(person_code[0][:2]) - 1900
else:
    age_ = year - int(person_code[0][:2]) - 2000


if int(person_code[1][0]) % 2:
    sex_ = '남성'
else:
    sex_ = '여성'
print('당신의 나이는 {}이고, 성별은 {}입니다.'.format(age_,sex_))

051231-3456781
당신의 나이는 17이고, 성별은 남성입니다.

In [82]:
res_num = input('주민번호를 입력하시오:')

birth_year = int(res_num[:2])
gender = res_num.split('-')[1][0]

age = 2022-(birth_year+1900)

def to_sex(gender):
    if gender == '1':
        return '남성'
    else:
        return '여성'
    
sex_ = to_sex(gender)

print(f'당신의 나이는 {age}이고, 성별은 {sex_}입니다.')

주민번호를 입력하시오:85123-1111111
당신의 나이는 37이고, 성별은 남성입니다.

이름을 입력받은 후 이름이 있으면서 80점 이상이면 '합격입니다', 이하이면 '불합격입니다'를 출력하시오   
이름을 입력받은 후 없으면 값을 0으로 하여 추가하시오

In [127]:
scores = {'Mary':85, 'Sam':95, 'Bob':87, 'Han':77}

name_ = input('이름을 입력하시오: ')

if scores.get(name_):
    if scores[name_] >= 80:
        print('합격입니다.')
    else:
        print('불합격입니다.')
else:
    scores[name_] = 0
    print(scores)

이름을 입력하시오: Ban
{'Mary': 85, 'Sam': 95, 'Bob': 87, 'Han': 77, 'Ban': 0}

이름을 입력받은 후 이름이 있으면서 80점 이상이면 '합격입니다', 이하이면 '불합격입니다'를 출력하시오   
이름을 입력받은 후 없으면 값을 0으로 하여 추가하시오

In [98]:
scores = {'Mary':85, 'Sam':95, 'Bob':87, 'Han':77}


name_ = input('이름을 입력하시오: ')

if scores.setdefault(name_):
    if scores.setdefault(name_) >= 80:
        print('합격입니다.')
    else:
        print('불합격입니다.')
else:
    scores.setdefault(name_)
    
scores

이름을 입력하시오: Ban

{'Mary': 85, 'Sam': 95, 'Bob': 87, 'Han': 77, 'Ban': None}

In [126]:
# 가위 바위 보 게임
mine = input('mine =< 가위, 바위, 보 중에서 하나를 선택 하세요. ')
yours = input('yours =< 가위, 바위, 보 중에서 하나를 선택 하세요. ')

# 비겼습니다.
# 내가 이겼습니다.
# 당신이 이겼습니다.

if mine == yours:
    print('비겼습니다.')
    
elif mine == '가위':
    if yours == '바위':
        print('당신이 이겼습니다.')
    else:
        print('내가 이겼습니다.')
elif mine == '바위':
    if yours == '보':
        print('당신이 이겼습니다.')
    else:
        print('내가 이겼습니다.')
else:
    if yours == '가위':
        print('당신이 이겼습니다.')
    else:
        print('내가 이겼습니다.')

mine =< 가위, 바위, 보 중에서 하나를 선택 하세요. 보
yours =< 가위, 바위, 보 중에서 하나를 선택 하세요. 보
비겼습니다.

나이를 입력받은 후, 50대 이상이면 '중년이시군요', 20~40대 '젊으시군요', 20세미만 '어리시군요 출력'

In [128]:
age_ = int(input('나이를 입력하시오: '))

if age_ >= 50:
    print('중년이시군요')
elif age_ >= 20:
    print('젊으시군요')
else:
    print('어리시군요')

나이를 입력하시오: 50
중년이시군요

# 반복문

In [129]:
# for 임시변수 in 군집형데이터:
#     실행코드
#     실행코드
#     ...

In [130]:
# while 조건식:
#     실행코드
#     실행코드
#     ...

모음의 숫자를 계산하시오. 단 모음은 'aeiouAEIOU'

In [131]:
text = 'computational thinking'
vowel = 'aeiouAEIOU'

suma = 0
for c in text:
    if c in vowel:
        suma += 1
print(suma)

8

word의 길이가 4이상인 단어의 단어길이 총합을 구하시오

In [136]:
words = ['mountain', 'sea', 'sky', 'river', 'cloud', 'tree', 'lake']


cnt = 0
for i in words:
    if len(i) >= 4:
        cnt += len(i)
        
cnt

26

두 리스트의 모든 조합을 리스트에 담으시오

In [138]:
L1 = ['a','b','c','d']
L2 = ['가','나','다','라']
L3 = []

for i in L1:
    for j in L2:
        L3.append((i,j))

print(L3)

[('a', '가'), ('a', '나'), ('a', '다'), ('a', '라'), ('b', '가'), ('b', '나'), ('b', '다'), ('b', '라'), ('c', '가'), ('c', '나'), ('c', '다'), ('c', '라'), ('d', '가'), ('d', '나'), ('d', '다'), ('d', '라')]

for문과 while문을 이용해서 1부터 20까지의 정수에서 짝수의 합과 홀수의 합을 구하시오

In [146]:
even_ = 0
odd_ = 0

for i in range(1,21):
    if i % 2:
        odd_ += i 
    else:
        even_ += i
print(odd_)
print(even_)

100
110

In [147]:
even_ = 0
odd_ = 0
n = 1
while n <= 20:
    if n % 2:
        odd_ += n 
    else:
        even_ += n
    n += 1
        
print(odd_)
print(even_)

100
110

break와 continue를 이용해서 1부터 10까지 정수 중에서 4,5,6,7만을 출력하시오.

In [150]:
for i in range(1,11):
    if i in [1,2,3]:
        continue
    print(i, end=' ')
    if i > 6:
        break

4 5 6 7

In [152]:
suma = 0
cnt = 0

while cnt < 10:
    cnt += 1
    if cnt < 4:
        continue
    if cnt > 7:
        break
    print(cnt, end = ' ')

4 5 6 7

점수를 5번 입력받은 후 평균점수를 출력하시오.

In [153]:
import numpy as np
scores = list(map(int, input().split()))

print(np.mean(scores))

1 2 3 4 5
3.0

In [155]:
ans = 0
for _ in range(5):
    ans += int(input())
print(ans/5)

1
2
3
4
5
3.0

임의의 수를 입력받은 후 팩토리얼을 계산하는 코드를 작성하시오

In [158]:
n = int(input('정수를 입력하시오.: '))
fact_ = 1
for i in range(n, 0, -1):
    fact_ *= i
    
print(fact_)

정수를 입력하시오.: 5
120

In [159]:
import math
math.factorial(5)

120

반복문을 이용해서 최대값과 최소값을 구하시오.

In [165]:
L = [70, 100, 80, 120, 130, 30]
max_ = L[0]
min_ = L[0]

for i in L[1:]:
    if max_ < i:
        max_ = i
    if min_ > i:
        min_ = i
        
print(f'최대값: {max_}, 최소값:{min_}')

최대값: 130, 최소값:30

별찍기

In [167]:
for i in range(1,6):
    print('*' * i)

*
**
***
****
*****

In [170]:
cnt = 1
while cnt <= 5:
    print('*' * cnt)
    cnt += 1

*
**
***
****
*****

별찍기 2

In [172]:
for i in range(5,0,-1):
    text = '*'*i 
    print(text.rjust(5))

*****
 ****
  ***
   **
    *

In [177]:
for i in range(5):
    print(' '*i, '*' * (5-i))

 *****
  ****
   ***
    **
     *

별찍기 3

In [178]:
for i in range(1, 6):
    text = '*'*i 
    print(text.rjust(5))

    *
   **
  ***
 ****
*****

In [181]:
for i in range(1,6):
    print(' '*(5-i), '*' * (i))

     *
    **
   ***
  ****
 *****

별찍기 4

In [183]:
for i in range(5, 0, -1): 
    print('*'*i)

*****
****
***
**
*

In [184]:
# 홀수번 인덱스만 출력하시오.

In [187]:
text = 'computational thinking'

for i in range(1,len(text), 2):
    print(text[i], end =' ')

o p t t o a   h n i g

구구단 출력하기

In [193]:
for i in range(1, 10):
    for j in range(2, 10):
        print(f'{j}x{i}={j*i}', end = '\t')
    print()

2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9
2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

# File 입/출력

In [ ]:
# 1. 파일을 연다 - open() - 모드를 설정 : 'r', 'w'
# 2. 파일을 읽거나 쓴다 - read(), write()
# 3. 파일을 닫는다 - close()

# f = open('filename', 'r')
# text = f.read()
# f.close()

# with open('filename', 'r') as f:      # with 구문 : close()를 자동으로 수행
#     text = f.read()

# f.open('filename', 'w')
# f.write(text)
# f.close

# with open('filename', 'w') as f:
#     f.write(text)

뉴스 텍스트를 'news.txt'파일로 저장하시오.

In [236]:
with open('news.txt', 'w',encoding='utf-8') as f:
    text = '''지난 16일 서울 종로 롤파크에서는 \'2022 LCK 스프링\' 1라운드 담원 기아 대 젠지의 경기가 열렸다.
이날 젠지는 디펜딩 챔피언인 담원 기아를 제압하며 소중한 승리를 획득했다.
2연승을 기록하며 기세를 탄 젠지. 특히 어려웠던 경기를 역전하며 더욱 단단해졌다.
코르키 캐리를 증명한 정지훈. 후반 캐리롤을 제대로 수행하며 승리를 이끌었다.
그는 경기 후 진행된 라이엇 공동 인터뷰에서 "내가 못했는데 팀원들이 이겨줘서 너무 다행이다"며 승리 소감을 전했다.'''
    f.write(text)

'news.txt' 파일을 4가지 다른 방식으로 열어서 출력하시오

In [237]:
f = open('news.txt', 'r', encoding='utf-8')
text = f.read()
f.close()
print(text)

# with open('news.txt', 'r',encoding='utf-8') as f:
#     news = f.read()
# news

지난 16일 서울 종로 롤파크에서는 '2022 LCK 스프링' 1라운드 담원 기아 대 젠지의 경기가 열렸다.
이날 젠지는 디펜딩 챔피언인 담원 기아를 제압하며 소중한 승리를 획득했다.
2연승을 기록하며 기세를 탄 젠지. 특히 어려웠던 경기를 역전하며 더욱 단단해졌다.
코르키 캐리를 증명한 정지훈. 후반 캐리롤을 제대로 수행하며 승리를 이끌었다.
그는 경기 후 진행된 라이엇 공동 인터뷰에서 "내가 못했는데 팀원들이 이겨줘서 너무 다행이다"며 승리 소감을 전했다.

In [241]:
f = open('news.txt', 'r', encoding='utf-8')
text = f.readlines()
print(text)
f.close()

["지난 16일 서울 종로 롤파크에서는 '2022 LCK 스프링' 1라운드 담원 기아 대 젠지의 경기가 열렸다.\n", '이날 젠지는 디펜딩 챔피언인 담원 기아를 제압하며 소중한 승리를 획득했다.\n', '2연승을 기록하며 기세를 탄 젠지. 특히 어려웠던 경기를 역전하며 더욱 단단해졌다.\n', '코르키 캐리를 증명한 정지훈. 후반 캐리롤을 제대로 수행하며 승리를 이끌었다.\n', '그는 경기 후 진행된 라이엇 공동 인터뷰에서 "내가 못했는데 팀원들이 이겨줘서 너무 다행이다"며 승리 소감을 전했다.']

In [245]:
f = open('news.txt', 'r', encoding='utf-8')
text = f.readline()
while text:
    print(text)
    text = f.readline()
f.close()

지난 16일 서울 종로 롤파크에서는 '2022 LCK 스프링' 1라운드 담원 기아 대 젠지의 경기가 열렸다.

이날 젠지는 디펜딩 챔피언인 담원 기아를 제압하며 소중한 승리를 획득했다.

2연승을 기록하며 기세를 탄 젠지. 특히 어려웠던 경기를 역전하며 더욱 단단해졌다.

코르키 캐리를 증명한 정지훈. 후반 캐리롤을 제대로 수행하며 승리를 이끌었다.

그는 경기 후 진행된 라이엇 공동 인터뷰에서 "내가 못했는데 팀원들이 이겨줘서 너무 다행이다"며 승리 소감을 전했다.

In [246]:
f = open('news.txt', 'r', encoding='utf-8')
for line in f:
    print(line)

지난 16일 서울 종로 롤파크에서는 '2022 LCK 스프링' 1라운드 담원 기아 대 젠지의 경기가 열렸다.

이날 젠지는 디펜딩 챔피언인 담원 기아를 제압하며 소중한 승리를 획득했다.

2연승을 기록하며 기세를 탄 젠지. 특히 어려웠던 경기를 역전하며 더욱 단단해졌다.

코르키 캐리를 증명한 정지훈. 후반 캐리롤을 제대로 수행하며 승리를 이끌었다.

그는 경기 후 진행된 라이엇 공동 인터뷰에서 "내가 못했는데 팀원들이 이겨줘서 너무 다행이다"며 승리 소감을 전했다.

In [ ]:
# with open('filename', 'r') as f:
#     text = f.read()           - 전체 text를 한번에 읽는다
#     text = f.readlines()      - 전체 text를 한 문장씩 리스트에 담아서 출력
#     text = f.readline()       - 한 문장씩 읽는다
#     for line is f:            - 파일 객체를 for을 이용해서 한 문장씩 읽는다.
#         pass