# String

In [75]:
txt1 = '  A tale that was not right  '   
txt2 = '이 또한 지나가리라'

---

tale을 출력하시오.

In [5]:
txt1[2:7]

'tale '

'지'를 출력하시오.

In [6]:
txt2[-5]

'지'

'a'는 몇 개가 존재하는가?

In [7]:
txt1.count('a')

3

txt1에서 모음의 갯수는 몇 개인가?

In [11]:
txt_ = txt1.lower()
cnt = 0
for i in txt_:
    if i in 'aeiou':
        cnt += 1
cnt

7

'또한'을 '것도'로 수정하시오

In [12]:
txt_ = txt2.replace('또한','것도')
txt_

'이 것도 지나가리라'

txt1을 대문자로 출력하시오

In [13]:
print(txt1.upper())

A TALE THAT WAS NOT RIGHT

txt1에서 right은 몇 번째 인덱스에 등장하는가?

In [65]:
txt1.find('right')

22

In [66]:
txt1.index('right')

22

In [63]:
txt1.find('heaven')

-1

In [61]:
txt1.index('heaven')

ValueError: substring not found

txt1을 space를 기준으로 나눠서 리스트에 담으시오

In [17]:
a = txt1.split()
a

['A', 'tale', 'that', 'was', 'not', 'right']

txt2의 길이는 얼마인가?

In [18]:
len(txt2)

10

txt2를 character 단위로 나눠서 리스트에 담으시오

In [29]:
a = list(txt2.replace(' ',''))
a

['이', '또', '한', '지', '나', '가', '리', '라']

txt1의 좌우 공백을 제거하시오

In [67]:
txt1.strip()

'A tale that was not right'

txt2를 역순으로 출력하시오

In [69]:
txt2[::-1]

'라리가나지 한또 이'

txt1과 txt2를 연결하여 하나의 문자열로 만드시오

In [70]:
txt1 + txt2

'  A tale that was not right이 또한 지나가리라'

txt2에서 짝수 인덱스 문자만 출력하시오

In [72]:
txt2[::2]

'이또 나리'

txt1에서 뒤에서 5번째 문자를 출력하시오

In [76]:
txt1[-5]

'g'

txt1의 문자를 index와 튜블로 묶어서 리스트에 담으시오

In [28]:
li = []
txt_ = txt1.replace(' ','')
for p,q in enumerate(txt_):
    li.append((q,p))
print(li)

[('A', 0), ('t', 1), ('a', 2), ('l', 3), ('e', 4), ('t', 5), ('h', 6), ('a', 7), ('t', 8), ('w', 9), ('a', 10), ('s', 11), ('n', 12), ('o', 13), ('t', 14), ('r', 15), ('i', 16), ('g', 17), ('h', 18), ('t', 19)]

url중 도메인만 출력하시오

In [78]:
url = 'http://www.naver.com/news/today=20221230'
print(url.split('/')[2])

www.naver.com

log = 'name : 홍길동, age : 17, sex : 남성, nation : 대한민국'   
아래와 같이 출력하시오   
name => '홍길동'   
age => 17   
sex => '남성'   
...

In [77]:
log = 'name : 홍길동, age : 17, sex : 남성, nation : 대한민국'
log1 = log.split(',')
for i in range(len(log1)):
    print(log1[i].replace(' : ',' => ').strip())

name => 홍길동
age => 17
sex => 남성
nation => 대한민국

In [59]:
for i in range(len(log1)):
    log2 = log1[i].strip().split(':')
    print('{}=>{}'.format(log2[0],log2[1]))

name => 홍길동
age => 17
sex => 남성
nation => 대한민국

In [88]:
text = '''\
2022 '리그 오브 레전드' 월드 챔피언십을 향한 여정이 시작됐습니다.\
지난 10일 개막한 LPL(중국)을 시작으로 LCK(12일), LEC(유럽, 14일) 등이 새로운 시작을 맞이할 예정이죠.\
프로 선수들의 수준 높은 플레이에 목말라 있을 팬들에겐 무척 반가운 소식이 아닐 수 없습니다.\
'''
text

"2022 '리그 오브 레전드' 월드 챔피언십을 향한 여정이 시작됐습니다.지난 10일 개막한 LPL(중국)을 시작으로 LCK(12일), LEC(유럽, 14일) 등이 새로운 시작을 맞이할 예정이죠.프로 선수들의 수준 높은 플레이에 목말라 있을 팬들에겐 무척 반가운 소식이 아닐 수 없습니다."

In [84]:
text = "2022 '리그 오브 레전드'\
월드 챔피언십을 향한 여정이 시작됐습니다."
text

"2022 '리그 오브 레전드'월드 챔피언십을 향한 여정이 시작됐습니다."

# datatype
- 기본형
    1. int : 95
    2. float : 3.14
    3. bool : True, False
    
- 군집형(여러 요소가 모여서 하나의 데이터 형식)
    1. string : '', 요소의 수정, 삭제, 추가가 안됨.
        - 순서, 인덱스가 존재         
    2. list : [], 요소의 수정, 삭제, 추가가 자유롭다.
        - 순서, 인덱스가 존재
    3. tuple : (), 요소의 수정, 삭제, 추가가 안됨, 보조용.
        - 순서, 인덱스가 존재
    4. set : {}, 요소의 삭제, 추가 가능. 중복요소가 없다. 
        - **집합**연산가능. 순서
        - 인덱스가 없다.
    5. dictionary : {key:value}, 요소의 수정, 삭제, 추가가 자유롭다.
        - 데이터의 저장(json과 유사).
        - 순서는 없고, 인덱스는 key역할

## List

In [220]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24, 25, 3)]

In [221]:
# 't'를 출력하시오
score[3][2]

't'

In [222]:
# 56을 출력하시오
score[-2][1]

56

In [223]:
# 마지막 요소의 최대값을 출력하시오
max(score[-1])

25

In [224]:
# 'python'을 'world'로 수정하시오
score[3] = 'world'
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3)]

In [225]:
# 마지막에 'sun'을 추가하시오
score.append('sun')
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [226]:
# 'world'가 있는지 확인하시오
'world' in score

True

In [227]:
# 마지막에서 2번째 요소를 내림차순으로 정렬하시오
sorted(score[-2], reverse = True)

[25, 24, 3]

In [228]:
# 90은 몇 번째 인덱스에 있는지 확인하시오
score.index(90)

1

In [209]:
# 리스트를 역순으로 정렬하시오
score.reverse()
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [229]:
# # 3번째 인덱스에 'sea'를 추가하시오
# score.insert(3, 'sea')
# score

In [230]:
# 0번째 인덱스에 'sea'를 추가하시오
score.insert(0, 'sea')
score

['sea', 81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [231]:
# True를 False로 수정하시오
score[score.index(True)] = False
score

['sea', 81, 90, 78, 'world', 'hello', False, [78, 56, 32], (24, 25, 3), 'sun']

In [232]:
# 'world'를 제거하시오
score.remove('world')
score

['sea', 81, 90, 78, 'hello', False, [78, 56, 32], (24, 25, 3), 'sun']

In [233]:
# 7번째 요소를 제거하시오
score.pop(7)
score

['sea', 81, 90, 78, 'hello', False, [78, 56, 32], 'sun']

In [234]:
# 리스트의 길이를 출력하시오
len(score)

8

In [235]:
# 두 번째 요소의 데이터타입을 출력하시오
type(score[2])

int

In [236]:
# [78, 56, 32]를 "78:56:32"로 수정하시오
i = score.index([78, 56, 32])
score[i] = list(map(str,score[i]))
score[i] = ':'.join(score[i])
score[i]

'78:56:32'

In [237]:
score

['sea', 81, 90, 78, 'hello', False, '78:56:32', 'sun']

In [ ]:
# 모든 원소를 제거하시오
# score.clear()
# score

In [ ]:
# 리스트를 삭제하시오
# del score