군집형 데이터 타입 - index(주소) - \[\]   
---
___
- string - 문자열, 원소의 수정, 삭제, 추가가 안됨   
- list - 리스트, 원소의 수정, 삭제, 추가가 자유로움   
- set - 집합, 중복데이터를 허용하지 않는다, 순서가 없음(index가 없음)   
- tuple - 원소의 수정, 삭제, 추가가 안됨, 고정된 값을 표현, 데이터를 묶는 보조적 용도   
- dictionary - 사전, 단어:뜻 => key:value = key가 인덱스 역할

In [ ]:
# String

In [7]:
txt1 = 'A tale that was not right'

ale
A tale
not
1
17
25
True

In [8]:
# 'ale' 이 출력..
print(txt1[3:6])   # slicing

ale

In [9]:
# 'A tale' 출력
print(txt1[:6])

A tale

In [11]:
# 'not' 출력
print(txt1[-9:-6])

not

In [12]:
# txt1을 소문자 전환
txt2 = txt1.lower()

In [13]:
# txt1을 대문자 전환
txt3 = txt2.upper()

In [14]:
# 'o'가 몇 개 존재하는가?
print(txt1.count('o'))

1

In [21]:
# 'o'가 몇 번 인덱스에 존재하는가?
print(txt1.find('o'))

17

In [22]:
print(txt1.index('o'))  # find와 index중 편한 것 사용

17

In [17]:
# txt1의 길이는 어떻게 되는가?
print(len(txt1))

25

In [31]:
# space를 기준으로 나누어서 List에 담으세요..
li = txt1.split()

In [32]:
# 'tale'을 'story'로 바꾸세요..
txt4 = txt1.replace('tale','story')

In [33]:
# txt1 안에 'right'가 존재하는지 확인
print('right' in txt1)

True

In [ ]:
# List

In [81]:
sol = ['태양','수성','금성','지구','화성','목성','지구']
sol1 = ['토성','천황성','해왕성']
planet = '지구'

In [58]:
# 1. sol에서 ['수성','금성']을 출력
print(sol[1:3])

['수성', '금성']

In [59]:
# 2. sol에서 '지구' 위치 인덱스 출력
print(sol.index('지구'))

3

In [60]:
# 3. sol에서 '화성'을 '해왕성'으로 수정
sol[-3] = '해왕성'
sol

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [61]:
# 4. '수성'자리에 '명왕성' 삽입
sol.insert(1, '명왕성')
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [62]:
# 5. '토성'을 맨 끝에 삽입
sol.append('토성')
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성']

In [63]:
# 6. 맨 끝 요소를 삭제하고 리턴
print(sol.pop())
sol

토성

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [64]:
# 7. '금성'을 제거
sol.remove('금성')
sol

['태양', '명왕성', '수성', '지구', '해왕성', '목성', '지구']

In [65]:
# 8. 1번 인덱스에서 3번 인덱스까지 삭제
del sol[1:4]
sol

['태양', '해왕성', '목성', '지구']

In [66]:
# 9. 인덱스 2번 요소 삭제
del sol[2]
sol

['태양', '해왕성', '지구']

In [67]:
# 10. sol과 sol1을 합치세요
sol = sol + sol1

In [68]:
# 11. 내림차순 정렬
sol.sort(reverse=True)

In [69]:
# 12. 오름차순 정렬
sol.sort()

In [70]:
# 13. '만리장성'이 있는지 확인
print('만리장성' in sol)

False

In [75]:
# 14. so1을 3번 반복하세요
so1 = sol * 3

In [76]:
# 15. 길이를 출력하세요
print(len(sol))

6

In [77]:
# 16. '지구'가 몇 개 포함되어있는지 확인.
print(sol.count('지구'))

1

In [83]:
# 17. 모든 원소를 지우세요.
# del sol[:]; print(sol)
sol.clear()
sol

[]

In [84]:
# 18. sol리스트를 삭제하세요..
del sol
sol

NameError: name 'sol' is not defined

In [ ]:
# Tuple - 원소 수정 안됨

In [85]:
myTuple = ('tuple', (1,2,3) , [4,5,6,7,8] ,'7', '8', '9')

In [89]:
# 'tuple'을 출력하세요
print(myTuple[0])
# 3을 출력하세요

print(myTuple[1][2])

# 4,5를 출력하세요
# print(myTuple[2][0],myTuple[2][1], sep = ',')
print(myTuple[2][:2])

# [4,5,6]을 출력하세요
print(myTuple[2][:3])

# tuple의 길이를 리턴하세요 ( 요소의 갯수가 몇 개인지 )
print(len(myTuple))

# '7'이 있는지 확인하세요
print('7' in myTuple)

# '7'의 인덱스를 출력하세요.
print(myTuple.index('7'))

# '7'이 몇 개 있는지 확인하세요
print(myTuple.count('7'))

# 인데스 2번를 출력하세요
print(myTuple[2])

# 인데스 2번에서 최대값을 출력하세요
print(max(myTuple[2]))

# 인데스 2번에서 최소값을 출력하세요
print(min(myTuple[2]))

# 인데스 2번에서 총합을 출력하세요
print(sum(myTuple[2]))

# 인데스 2번에서 평균을 출력하세요
import numpy as np
print(np.mean(myTuple[2]))
# print(sum(myTuple[2])/len(myTuple[2]))

# 인데스 2번를 내림차순 정렬해서 출력하세요.
print(sorted(myTuple[2], reverse=True))

tuple
3
[4, 5]
[4, 5, 6]
6
True
3
1
[4, 5, 6, 7, 8]
8
4
30
6.0
[8, 7, 6, 5, 4]