In [ ]:
# if

In [ ]:
# 임의 정수(n)를 입력받은 후 0부터 n까지의 정수 중 짝수들의 합을 구하시오
n = int(input('임의의 정수를 입력하세요: '))
# sum_ = sum([i for i in range(0, n+1, 2))
suma = 0
for i in range(n+1):
    if i % 2 == 0:
        suma += i
suma

In [8]:
names = {'mary':1520, 'tom':5214, 'park':5478, 'sams':5478}
name_input = input()
if name_input not in names.keys():
    names[name_input] = 2000
else:
    print(name[name_input])
names

ban

{'mary': 1520, 'tom': 5214, 'park': 5478, 'sams': 5478, 'ban': 2000}

In [5]:
# 학점 출력.. 점수를 입력받은 후..
num_ = int(input())
# 90점 이상이면 "당신은 'A'학점입니다"를 출력
if num_ >= 90:
    print("당신은 'A'학점입니다")
# 80점 이상이면서 90점 미만이면 "당신은 'B'학점입니다"를 출력
elif num_ >= 80:
    print("당신은 'B'학점입니다")
# 70점 이상이면서 80점 미만이면 "당신은 'C'학점입니다"를 출력
elif num_ >= 70:
    print("당신은 'C'학점입니다")
# 70점 미만이면 "당신은 D학점입니다"를 출력
else:
    print("당신은 'D'학점입니다")

100
당신은 'A'학점입니다

In [ ]:
# for

In [11]:
# text의 character를 모음만 대문자로 전환해서 출력하세요. 참고) 영어모음 = ‘aeiou’
text = 'python is fun'
for i in range(len(text)):
    if text[i] in 'aeiou':
        print(text[i].upper(), end = ' ')
        print(text[i], i)

O o 4
I i 7
U u 11

In [14]:
# 위의 text의 문자를 index와 함께 출력하시오,
text = 'python is fun'
# for i in range(len(text)):
#     print(text[i], i)
for i, j in enumerate(text):
    print(i, j)

0 p
1 y
2 t
3 h
4 o
5 n
6
7 i
8 s
9
10 f
11 u
12 n

In [15]:
# 1~20까지 수에서 짝수만 리스트에 담으세요.
# => for문과 while문, list comprehension을 각각 활용
for_ = []
while_ = []
list_comp = []
for i in range(2,21,2):
    for_.append(i)
n = 1
while n <= 20:
    if n % 2 == 0:
        while_.append(n)
    n += 1
list_comp = [i for i in range(2, n+1, 2)]

In [16]:
even_list = []
for i in range(1,21):
    if i%2 == 0:
        even_list.append(i)
even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
even_list = []
cnt = 1
while cnt <= 20:
    if cnt % 2 == 0:
        even_list.append(cnt)
    cnt += 1
even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [23]:
even_list = [i for i in range(1, 21) if i%2 == 0]
even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
# 1~10까지 정수를 출력하는 while문에서 continue와 break를 이용해서 3,4,5,6만 출력하도록 하시오.
while True:
    for i in range(1, 11):
        if i in [1,2,7,8,9,10]:
            continue
        print(i)
    break

3
4
5
6

In [28]:
cnt = 0
while cnt < 10:
    
    cnt += 1
    if cnt < 3:
        continue
    if cnt > 6:
        break
    print(cnt)

3
4
5
6

In [29]:
# x = ['a','b','c','d','e'], y = ['가','나','다','라','마'] 두 리스트의 원소들의 모든 조합을 아래와 같이 출력하시오. =>
# [('a','가'), ('a','나'), ('a', '다') ... ('e','라'), ('e', '마')]
x = ['a','b','c','d','e']; y = ['가','나','다','라','마']
li = []
for i in range(len(x)):
    for j in range(len(y)):
        li.append((x[i],y[j]))
print(li)

[('a', '가'), ('a', '나'), ('a', '다'), ('a', '라'), ('a', '마'), ('b', '가'), ('b', '나'), ('b', '다'), ('b', '라'), ('b', '마'), ('c', '가'), ('c', '나'), ('c', '다'), ('c', '라'), ('c', '마'), ('d', '가'), ('d', '나'), ('d', '다'), ('d', '라'), ('d', '마'), ('e', '가'), ('e', '나'), ('e', '다'), ('e', '라'), ('e', '마')]

In [30]:
L = []
for i in zip(x,y):
    L.append(i)
L

[('a', '가'), ('b', '나'), ('c', '다'), ('d', '라'), ('e', '마')]

In [32]:
# computational thinking에서 홀수인덱스만 리스트에 담으세요..
text = "computational thinking"
li = []
for i in range(1,len(text),2):
    li.append(text[i])
li

['o', 'p', 't', 't', 'o', 'a', ' ', 'h', 'n', 'i', 'g']

In [33]:
# 점수를 5회 입력받은 후 평균을 출력하세요.
scores = []
for _ in range(5):
    scores.append(int(input()))
print(sum(scores)/5)

1
2
3
4
5
3.0

In [36]:
cnt = 0
score_sum = 0
while cnt < 5:
    score = int(input('점수를 입력하세요: '))
    score_sum += score
    cnt += 1
score_sum/5

점수를 입력하세요: 1
점수를 입력하세요: 2
점수를 입력하세요: 3
점수를 입력하세요: 4
점수를 입력하세요: 5

3.0

In [37]:
# for
# text = 'hello world'에서 각 문자를 인덱스와 함께 튜플로 묶어서 출력
text = 'hello world'
li = []
for i, v in enumerate(text):
    li.append((i,v))
    if i == len(text)-1:
        print(li[i])
    else:
        print(li[i], end = ',')

(0, 'h'),(1, 'e'),(2, 'l'),(3, 'l'),(4, 'o'),(5, ' '),(6, 'w'),(7, 'o'),(8, 'r'),(9, 'l'),(10, 'd')

In [49]:
# 구구단을 출력하시오...
for i in range(1, 10):
    for j in range(1, 10):
#         print(f'{i} * {j} = {i*j}')
        print('{0}*{1}={2:<2}'.format(j, i, i*j), end = '   ')
    print()

1*1=1    2*1=2    3*1=3    4*1=4    5*1=5    6*1=6    7*1=7    8*1=8    9*1=9
1*2=2    2*2=4    3*2=6    4*2=8    5*2=10   6*2=12   7*2=14   8*2=16   9*2=18
1*3=3    2*3=6    3*3=9    4*3=12   5*3=15   6*3=18   7*3=21   8*3=24   9*3=27
1*4=4    2*4=8    3*4=12   4*4=16   5*4=20   6*4=24   7*4=28   8*4=32   9*4=36
1*5=5    2*5=10   3*5=15   4*5=20   5*5=25   6*5=30   7*5=35   8*5=40   9*5=45
1*6=6    2*6=12   3*6=18   4*6=24   5*6=30   6*6=36   7*6=42   8*6=48   9*6=54
1*7=7    2*7=14   3*7=21   4*7=28   5*7=35   6*7=42   7*7=49   8*7=56   9*7=63
1*8=8    2*8=16   3*8=24   4*8=32   5*8=40   6*8=48   7*8=56   8*8=64   9*8=72
1*9=9    2*9=18   3*9=27   4*9=36   5*9=45   6*9=54   7*9=63   8*9=72   9*9=81