# 서울시 구별 CCTV 현황 분석
- 구별 인구당 cctv 댓수 파악
- 인구당 cctv수와

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
dfcc = pd.read_csv('../pandas basic/pandas_datafiles/01. CCTV_in_Seoul.csv')
dfcc.head(3)

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204

In [11]:
# columns명 바꾸기
dfcc.rename(columns = {'기관명':'구별'}, inplace=True)

In [12]:
dfcc.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [17]:
# header : n번째 행이 헤더, usecols : 가져오고 싶은 column의 index지정

dfpop = pd.read_excel('../pandas basic/pandas_datafiles/01. population_in_Seoul.xls', header=2,
                     usecols= [1,3,6,9,13])
dfpop.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [24]:
dfpop.columns = ['구별','인구수','한국인','외국인','고령자']
dfpop.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [25]:
# CCTV 수를 기준으로 구를 정렬
# 2016년도에 cctv 수 증가율이 높은 상위 5개 구
# 인구당 cctv 수가 가장 높은 구 상위 5개
# 인구수, 외국인비율, 고령자 비율 중에서 인구당 cctv 수에 가장 큰 영향을 미치는 요소는?

In [30]:
# CCTV 수를 기준으로 구를 정렬
dfcc.sort_values('소계',ascending=False)

      구별    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
18   양천구  2034       1843    142     30    467
14   서초구  1930       1406    157    336    398
21   은평구  1873       1138    224    278    468
20   용산구  1624       1368    218    112    398
6    구로구  1561       1142    173    246    323
4    관악구  1496        846    260    390    613
16   성북구  1464       1009     78    360    204
10  동대문구  1294       1070     23    198    579
8    노원구  1265        542     57    451    516
11   동작구  1091        544    341    103    314
15   성동구  1062        730     91    241    265
7    금천구  1015        674     51    269    354
22   종로구  1002        464    314    211    630
13  서대문구   962        844     50     68    292
19  영등포구   904        495    214    195    373
3    강서구   884        388    258    184     81
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
5    광진구   707        573     78     53    174
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109
17   송파구   618        529     21     68    463
12   마포구   574        314    118    169    379
9    도봉구   485        238    159     42    386

In [49]:
# 2016년도에 cctv 수 증가율이 높은 상위 5개 구
dfcc.sort_values('2016년',ascending=False).head(5)['구별']

0      강남구
22     종로구
4      관악구
10    동대문구
8      노원구
Name: 구별, dtype: object

In [52]:
# 인구당 cctv 수가 가장 높은 구 상위 5개
df = pd.merge(dfcc, dfpop, on='구별', how = 'inner')
df['cctv비율'] = df['소계'] / df['인구수']
df.sort_values('cctv비율', ascending=False).head(5)['구별']

20    용산구
22    종로구
23     중구
0     강남구
14    서초구
Name: 구별, dtype: object

In [55]:
# 인구수, 외국인비율, 고령자 비율 중에서 인구당 cctv 수에 가장 큰 영향을 미치는 요소는?
df['외국인비율'] =  df['외국인'] / df['인구수'] 
df['고령자비율'] =  df['고령자'] / df['인구수']