In [5]:
import pandas as pd
import numpy as np

In [8]:
# skiprows : 맨 위의 11줄은 무시하고 불러옴
df = pd.read_csv('./pandas_datafiles/seoul_weather.csv', encoding = 'cp949', skiprows=11)

In [10]:
df.head(2)

   \t\t지점번호 지점명          일시  평균기온(℃)  최고기온(℃) \t최고기온시각  최저기온(℃) 최저기온시각
0       108  서울  1907-10-01     13.5     20.7      NaN      7.9    NaN
1       108  서울  1907-10-02     16.2     22.0      NaN      7.9    NaN

In [68]:
# 역대 최고기온인 날의 날짜
# df[df['최고기온(℃)'] == df['최고기온(℃)'].max()]['일시']
df.sort_values('최고기온(℃)', ascending=False).iloc[0]['일시'].split('-')[2]

'01'

In [48]:
# 일교차가 가장 큰 월은?

df['일교차'] = df['최고기온(℃)'] - df['최저기온(℃)']
df.sort_values('일교차', ascending=False).iloc[0]['일시'].split('-')[1]

'04'

In [89]:
# 월교차가 가장 큰 월은?
month_max = df.groupby(df['일시'].apply(lambda x : x.split('-')[1]))['최고기온(℃)'].max()
month_min = df.groupby(df['일시'].apply(lambda x : x.split('-')[1]))['최저기온(℃)'].min()
(month_max - month_min).sort_values(ascending=False).index[0]

'12'

In [91]:
(df['최고기온(℃)'] - df['최저기온(℃)']).sort_values(ascending=False)

12619    21.8
3863     21.7
3147     21.4
13980    21.3
7696     21.2
         ...
16429     NaN
16430     NaN
16431     NaN
21260     NaN
39758     NaN
Length: 40488, dtype: float64

In [112]:
(df.groupby('일시')['최고기온(℃)'].sum() - df.groupby('일시')['최저기온(℃)'].sum())

일시
1907-10-01    12.8
1907-10-02    14.1
1907-10-03     8.2
1907-10-04    10.8
1907-10-05    14.5
              ...
2019-10-07     4.6
2019-10-08     9.2
2019-10-09    12.7
2019-10-10     9.1
2019-10-11    13.1
Length: 40488, dtype: float64

In [114]:
df.groupby('일시')['최고기온(℃)'].sum()

일시
1907-10-01    20.7
1907-10-02    22.0
1907-10-03    21.3
1907-10-04    22.0
1907-10-05    25.4
              ...
2019-10-07    17.9
2019-10-08    19.8
2019-10-09    20.4
2019-10-10    19.8
2019-10-11    26.1
Name: 최고기온(℃), Length: 40488, dtype: float64